# Q1. Write a Python program to print all the numbers from 1 to 10 using a for loop.

In [2]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

# Q2. Write a Python program to find the sum of all numbers from 1 to 100 using a for loop.

In [16]:
total_sum = 0
for number in range(1, 101):
    total_sum += number
    print(number,total_sum)
print("The sum of numbers from 1 to 100 is:", total_sum)

1 1
2 3
3 6
4 10
5 15
6 21
7 28
8 36
9 45
10 55
11 66
12 78
13 91
14 105
15 120
16 136
17 153
18 171
19 190
20 210
21 231
22 253
23 276
24 300
25 325
26 351
27 378
28 406
29 435
30 465
31 496
32 528
33 561
34 595
35 630
36 666
37 703
38 741
39 780
40 820
41 861
42 903
43 946
44 990
45 1035
46 1081
47 1128
48 1176
49 1225
50 1275
51 1326
52 1378
53 1431
54 1485
55 1540
56 1596
57 1653
58 1711
59 1770
60 1830
61 1891
62 1953
63 2016
64 2080
65 2145
66 2211
67 2278
68 2346
69 2415
70 2485
71 2556
72 2628
73 2701
74 2775
75 2850
76 2926
77 3003
78 3081
79 3160
80 3240
81 3321
82 3403
83 3486
84 3570
85 3655
86 3741
87 3828
88 3916
89 4005
90 4095
91 4186
92 4278
93 4371
94 4465
95 4560
96 4656
97 4753
98 4851
99 4950
100 5050
The sum of numbers from 1 to 100 is: 5050

# Q3. Write a Python program to print the multiplication table of a given number using a for loop.

In [19]:
num = int(input("Enter a number to print its multiplication table: "))

print(f"\nMultiplication Table of {num}:")
for i in range(1, 11):
    print(f"{num} x {i} = {num * i}")

Enter a number to print its multiplication table:  8

Multiplication Table of 8:
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

# Q4. Write a Python program to count the number of even and odd numbers from a series of numbers using a for loop.
    Hint: Find even and odd from this list:
     [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [7]:
Given_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_count = 0
odd_count = 0

for num in Given_list:
    if num % 2 == 0:
        even_count += 1
    else:
        odd_count += 1

print(f"\nTotal even numbers: {even_count}")

print(f"Total odd numbers: {odd_count}")

Total even numbers: 5
Total odd numbers: 5

# Q5. Write a Python program to find the factorial of a number using a for loop.

In [21]:
num = int(input("Enter a number: "))

factorial = 1

if num < 0:
    print("Factorial does not exist for negative numbers.")
elif num == 0:
    print("The factorial of 0 is 1.")
else:
    for i in range(1, num + 1):
        factorial *= i
    print(f"The factorial of {num} is {factorial}.")

Enter a number:  5

The factorial of 5 is 120.

# Q6. Write a Python program to print the Fibonacci sequence up to a specified number using a for loop.

In [23]:
limit = int(input("Enter the maximum number for the Fibonacci sequence: "))

# First two numbers of the Fibonacci sequence
a, b = 0, 1

print("Fibonacci sequence up to", limit, ":")

# Use a for loop to generate Fibonacci numbers up to the limit
for _ in range(limit):
    if a > limit:
        break
    print(a, end=" ")
    a, b = b, a + b

Enter the maximum number for the Fibonacci sequence:  5555

Fibonacci sequence up to 5555 :
0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181

# Q7. Write a Python program to check if a given number is prime or not using a for loop.

In [31]:
num = int(input("Enter a number: "))

if num <= 1:
    print(num, "is not a prime number.")
else:
    is_prime = True
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            is_prime = False
            break
    if is_prime:
        print(num, "is a prime number.")
    else:
        print(num, "is not a prime number.")

Enter a number:  99999999999999999

99999999999999999 is not a prime number.

# Q8. Write a Python program to find the largest element in a list using a for loop.

In [13]:
numbers = [12, 45, 78, 23, 56, 89, 34,54,501,504]

largest = numbers[0]

for num in numbers:
    if num > largest:
        largest = num

print("The largest element in the list is:", largest)

The largest element in the list is: 504

# Q9. Write a Python program to reverse a given string using a for loop.

In [19]:
input_string = "Hello, World!"
reversed_string = ""

for char in input_string:
    reversed_string = char + reversed_string

print("Reversed string:", reversed_string)

Reversed string: !dlroW ,olleH

# Q10. Write a Python program to find the common elements between two lists using a for loop.
    List1 = [1,2,3,4]
    List2 = [4,5,1,3]

In [17]:
list1 = [1, 2, 3,4]
list2 = [4, 5, 1,3]

common_elements = []

for item in list1:
    if item in list2:
        common_elements.append(item)

print("Common elements:", common_elements)

Common elements: [1, 3, 4]